.content-subSection{
  width: 320px;
  padding-top: 30px;
}
.center{
  margin: auto;
}
input{
  width: 250px;
  display: block;
}
input{
  margin-bottom: 15px;
}
button{
  margin-top: 20px;
  margin-bottom: 0;
  padding: 5px 20px;
}
h5{
  margin-bottom: 5px;
}
