<div class="content-subSection center">
  <h4>Connexion</h4>
  <input type="email" name="email" pInputText placeholder="Email" [(ngModel)]="loginInfo.email">
  <input type="password" pInputText placeholder="Password" [(ngModel)]="loginInfo.password">
  <div class="p-field-checkbox">
    <p-checkbox  [(ngModel)]="this.loginInfo.stayLoggedin" [binary]="true" inputId="staylogged"></p-checkbox>
    <label for="staylogged">Rester connecté</label>
</div>
 <a routerLink="/client/login/forgotpassword">Mot de passe oublié ?</a>

  <button pButton type="button" (click)="login()" label="Se connecter" ></button>

</div>
