<section class="main-container">

  <!-- medicines / pharmacy / servey-question / client / appointement -->

  <section class="centered-content">

    <!-- None sense simply to illustrate-->
    <section class="content-subSection">
      <h5>{{question.title}}</h5>
      <h6>{{question.user.firstName}}</h6>
      <p>{{question.content}}</p>
    </section>
    <label for="answers">Answers</label>
    <section id="answers" class="content-subSection" *ngFor="let answer of answers">
      <p class="date">{{answer.date | date: 'dd-MM-yyyy'}}</p>
      <p>{{answer.description}}</p>
      <i (click)="delete(answer)" style="float: right" class="pi pi-trash"></i>
      <i (click)="edit(answer)" style="float: right" class="pi pi-pencil"></i>
    </section>
    <textarea [(ngModel)]="comment" id="comment" placeholder="Your Comment..." class="textarea-comment">
    </textarea>
    <button class="btn-comment" (click)="confirm()">{{confirmButton}}</button>
  </section>
</section>
