/*---------------------------------------------------------*/
/*-----------  None sense simply to illustrate ------------*/
/*---------------------------------------------------------*/

button{
  background-color: rgb(15,135,255);
  color: white;
  padding: 3px 20px;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

.btn1 {
  background-color: rgb(236, 92, 140);
  margin-right: 5px;
  /*color: rgb(20, 20, 20);*/
}

.btn2 {
  background-color: rgb(255, 185, 35);
  margin-right: 5px;
  /*color: rgb(20, 20, 20);*/
}

span {
  float: right;
  transform: translate(0, -115px);
}

.btn3 {
  background-color: rgb(15, 135, 255);
}

.centered-content {
  margin-left: auto;
  margin-right: auto;
  width: 50em
}

.title {
  float: left;
}

.date {
  float: right;
}

.username {
  width: auto;
  margin-left: 80%;
  text-align: right;
}

.question-content {
  color: rgb(0, 35, 75);
  font-size: large;
  margin-bottom: 40px;
}

.buttons {
  display: inline;
  margin-left: 63%;
}
.inputSearch {
  height: 100%;
  width: 280px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 40px;
}
.inputGroup {
  height: 40px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  diplay: inline-block;
}

.addOn-float-right {
  position: absolute;
  font-size: 17px;
  top: 17px;
  left: 10px;
  color: rgb(90, 90, 90);
}
.secondColor {
  background-color: rgb(255, 185, 35);
  color:white;
  margin-left:3px;
}
.secondColor:hover {
  background-color: rgb(248, 205, 113);
}
.secondColor:focus {
  border: none;
  box-shadow: 0 0 2px 2px rgb(243, 198, 100);
}
#div-display,#btn-display{
  display:inline-block;
  margin-right : 5px;
}
#div-display{
  width : fit-content;
  margin-left:40%
}
