<!-- Nav bar -->
<nav class="nav-bar">
  <h3 class="logo">MEDCLONE.TN</h3>
  <ul class="nav-group">
    <li class="nav-item">Home</li>
    <li class="nav-item">Meds</li>
    <li class="active nav-item">Doctors</li>
  </ul>
</nav>

<!-- None sense simply to illustrate-->

<section class="main-container">

 <!-- medicines / pharmacy / servey-question / client / appointement -->
  <aside class="filter-aside">

    <!-- None sense simply to illustrate-->
      <h5>Filter section here</h5>
      <button>Click me</button>
      <button class="btn1">Click me</button>
      <div>main colors to use</div>
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Price">
        <span class="p-inputgroup-addon">$</span>
        <span class="p-inputgroup-addon">.00</span>
      </div>
      <button class="btn2">Click me</button>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-tags"></i></span>
        <input type="text" pInputText placeholder="stuff">
        <span class="p-inputgroup-addon"><i class="pi pi-tags"></i>s</span>
      </div>
    <!-- None sense ends here-->
  </aside>

  <section class="asideContent-container">
    <router-outlet></router-outlet>
    <!-- None sense simply to illustrate-->
      <section class="content-subSection">

        <h5>Title in here</h5>
        <h6>Title in here</h6>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis minima ea sapiente provident
          enim
          commodi
          nihil voluptates quia porro quam eaque architecto necessitatibus ipsam asperiores, possimus
          cupiditate
          dolorem
          inventore.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint perferendis pariatur
          quo
          blanditiis,<span>this is a quick test</span> illum hic odit quaerat, iste quis fugit saepe optio
          repellendus</p>
      </section>

      <section class="content-subSection">
        <h1>Title in here</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae accusantium voluptatum animi illo nisi eos
          dolorem aut nam impedit tenetur nihil sit cum, ea rem repellat. Unde eos dolor quos!</p>
      </section>

      <section class="content-subSection">
        <h2>Title in here</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi eaque amet qui magnam ducimus, perspiciatis
          eligendi cum saepe laborum officia fuga vitae modi libero consectetur porro blanditiis. Harum, rem minima! Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Accusantium error provident ut autem suscipit cupiditate? Id
          voluptatem autem beatae vitae natus, reiciendis molestiae velit quisquam, ipsum nemo inventore officia dolores.
        </p>
      </section>

    <!-- None sense ends here-->
  </section>

  <section class="fullContent-container">
      <!-- None sense simply to illustrate-->
      <h3>If there is no need for the aside filter section, use the <br> fullContent-container class instead</h3>
      <section class="content-subSection">
        <h5>Title in here</h5>
        <h6>Title in here</h6>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis minima ea sapiente provident
          enim
          commodi
          nihil voluptates quia porro quam eaque architecto necessitatibus ipsam asperiores, possimus
          cupiditate
          dolorem
          inventore.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint perferendis pariatur
          quo
          blanditiis,<span>this is a quick test</span> illum hic odit quaerat, iste quis fugit saepe optio
          repellendus</p>
      </section>

      <section class="content-subSection">
        <h1>Title in here</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae accusantium voluptatum animi illo nisi eos
          dolorem aut nam impedit tenetur nihil sit cum, ea rem repellat. Unde eos dolor quos!</p>
      </section>

      <section class="content-subSection">
        <h2>Title in here</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi eaque amet qui magnam ducimus, perspiciatis
          eligendi cum saepe laborum officia fuga vitae modi libero consectetur porro blanditiis. Harum, rem minima! Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Accusantium error provident ut autem suscipit cupiditate? Id
          voluptatem autem beatae vitae natus, reiciendis molestiae velit quisquam, ipsum nemo inventore officia dolores.
        </p>
      </section>

    <!-- None sense ends here-->

  </section>
</section>
