<!-- Nav bar -->
<nav class="nav-bar">
  <h3 class="logo">MEDCLONE.TN</h3>
  <ul class="nav-group">
    <li class="nav-item">Home</li>
    <li class="nav-item">Meds</li>
    <li class="active nav-item">Doctors</li>
  </ul>
</nav>

<!-- None sense simply to illustrate-->

<section class="main-container">

 <!-- medicines / pharmacy / servey-question / client / appointement -->
  <aside class="filter-aside">
    <!-- None sense simply to illustrate-->
      <h5>Filter section here</h5>
      <button>Click me</button>
      <button class="btn1">Click me</button>
      <div>main colors to use</div>
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Price">
        <span class="p-inputgroup-addon">$</span>
        <span class="p-inputgroup-addon">.00</span>
      </div>
      <button class="btn2">Click me</button>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-tags"></i></span>
        <input type="text" pInputText placeholder="stuff">
        <span class="p-inputgroup-addon"><i class="pi pi-tags"></i>s</span>
      </div>
    <!-- None sense ends here-->
  </aside>

  <section class="asideContent-container">
    <!-- None sense simply to illustrate-->
      <section class="content-subSection">
        <router-outlet></router-outlet>
        <h5></h5>
        <h6></h6>
        <p></p>
      </section>

     
      
    <!-- None sense ends here-->

  </section>
</section>