.content-subSection{
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
  }
  h6{
      font-size: 20px;
      color: black;
      font-weight: 300;
  }
  h6 span{
      font-weight: 600;
      color: rgb(12, 55, 77);
  }
    .doctor h6{
        font-size: 15px;
        color: black;
        font-weight: 300;
    }
    .doctor h6 span{
        font-weight: 600;
        color: rgb(12, 55, 77);
    }
    .center{
      margin: auto;
    }
    input{
      height: 40px;
      width: 100%;
      display: block;
      margin-bottom: 5px;
    }
    textarea{
      height: 80px;
      width: 100%;
      display: block;   
      resize: none;
      margin-bottom: 5px;
    }
    button{
      margin-top: 5px;
      margin-bottom: 0;
      width: 100%;
      padding: 5px 20px;
      cursor: pointer;
    }
    .fullContent-container{
      z-index: 1;
      height: 100%;
      padding-top: 20px;
  }
  .custom-shape-divider-top-1645733151 {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
    }
    
    .custom-shape-divider-top-1645733151 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 177px;
      transform: rotateY(180deg);
    }
    
    .custom-shape-divider-top-1645733151 .shape-fill {
      fill: #FCAF3C;
    }
    .custom-shape-divider-bottom-1645733380 {
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1645733380 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 177px;
  }
  
  .custom-shape-divider-bottom-1645733380 .shape-fill {
      fill: #EC5C8C;
  }
  .col-1-2{
    display: inline-block;
    width: 50%;
    padding: 0 5px;
    vertical-align: top;
  }
  .leftcol{
    padding-right: 2.5px;
    margin-top: -20px;
    width: 40%;
  }
  .rightcol{
    padding-left: 2.5px;
    margin-left: -20px;
    margin-top: -20px;
    width: 60%;
  }
  img{
    margin-top: -20px;
    margin-left: -20px;
    width: 100%;
  }
  .col-1-1{
    padding: 0 5px;
  }
  .editBtnContainer{
      height: 40px;
  }
  
.btn-primary{
    background-color: rgb(255, 185, 35);
    color: black;
    padding: 3px 20px;
    font-size: 15px;
    border-radius: 6px;
    width: 120px;
    float: right;
    margin-top: -10px;
    margin-right: -15px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: rgb(255, 218, 139);
}
.btn-primary:focus{
    box-shadow: 0 0 2px 2px rgb(255, 209, 109);
}
.btn-primary i{
    padding-right: 10px;
}