table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: rgb(255, 185, 35);
}
strong {
  margin-right: 5%;
  font-size: 20px;
}
